/* Reglages général du site / tailles ecrans  */
/* PC  */
/* @media screen and (min-width: 991px) */

.bloc-logo-nav {
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo . navbar button";
}

.bloc-recherche-logo_map {
  background-color: #F2F2F2;
  padding:10px;
  max-height: 17px;
  border-radius: 10px 0 0 10px;
  width: 15px;
}

.bloc-recherche-petit_logo {
  width: 9px;
  display: block;
  margin-bottom: auto;
  margin-top: auto;
  margin: auto;
}

.bloc-recherche-champ_recherche {
  text-align: justify;
}

.search_txt {
  height: 33px;
  border: 0.5px solid #F2F2F2;
  padding-left: 10px;
  font-weight: bold;
}

.header-filtres li  {
   list-style-type: none;
   border: 2.5px solid #F2F2F2;
   padding: 0 20px 0 0 ;
   margin-left: 15px;
   border-radius: 20px;
   height: 33px;
   display: flex;
   align-items: center;
}

.header-filtres li:hover {
  background-color: #DEEBFF;
  transform:scale(1.10);
  transition: 0.25s;
}

.header-filtres_logo {
  padding: 8px;
  background-color: #DEEBFF;
  border-radius: 50px;
  margin-right: 10px;
}

.header-text_filtre {

  display: flex;

}

.partie_milieu {
  display: flex;
  flex-direction: row;
  padding: 15px;

}

.hebergements {
  background-color: #F2F2F2;

  border-radius: 15px;
  padding: 25px;


}

.hebergements__vignette {

  margin: auto;
  width: 90%;
  height: 210px;
  background-color: white;
  padding: 5px;
  margin-top: 15px;
  border-radius: 20px;

  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.3);

}
.hebergements__vignette_h3 {
  font-family: 'ralewaymedium';
  color: black;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 0;
}

.liens_vignette {
  width: 33%;
}

.populaires {
  display: flex;
  background-color: #F2F2F2;
  margin-left: 30px;
  padding: 25px;
  border-radius: 15px;
}

.populaires__vignette_prix {
  height: 30%;
}

.activites {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 150px 60px 60px 60px 150px;
  width: 95%;
  margin:auto;

}

.activites__h2 {
  margin: 25px;
  height: 20%;
}
.activites__bloc_img {
  flex: 1;
  height: 80%;
  display: contents;
}

.activites__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.activites__bloc_vignette {
  box-shadow: 0 0 20px #0000002e;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 25px 0 0 20px;

}

.activites__bloc_vignette:hover {
  box-shadow:0 0 15px #0065FC;
  transform: scale(1.03);
}


.activites__vignette1 {
  grid-row: 2/7;
  grid-column: 1/2;
  margin-left: 0;
}

.activites__vignette2 {
  grid-column: 2/3;
  grid-row: 2/5;

}

.activites__vignette3 {
  grid-column: 3/4;
  grid-row: 2/7;
}

.activites__vignette4 {
  grid-column: 4/5;
  grid-row: 2/4;
}



.activites__vignette5 {
  grid-column: 2/3;
    grid-row: 5/7;

}

.activites__vignette6 {
  grid-column: 4/5;
  grid-row: 4/7;
}

.bloc_footer {
  display: flex;
  flex-direction: column;
  margin: 0;

}

.footer__link {
  margin: 0;
}


/* fin media PC */

@media screen and (min-width: 1201px) {


  .header__logo_search{
    display: none;
  }

.populaires {
    width: 30%;
}
}

/* debut du media tablette  */
@media screen and (min-width: 602px) {
  .header__logo_search {
    display: none;
  }

  .menu-header_link {
    padding-left: 25px !important;
  }
}
@media screen and (max-width: 1200px) {




.partie_milieu {
  display: flex;
  flex-direction: column;
}

.hebergements {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  order: 2;
  margin-left: 0;
  margin-top: 25px;

}

.populaires {
  display: flex;
  flex-direction: row;
  order: 1;
  margin-left: 0;
}
}

  /* téléphone  */
@media screen and (max-width: 601px){




.bloc-logo-nav {
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "logo . button" "navbar navbar navbar";

}

.menu-header {
  order: 2;
}

.menu-header_link {
  border-top: none !important;
  border-bottom: 3px solid #F2F2F2;
  border-bottom-color: rgb(242, 242, 242);
  width: 50%;

}
.menu-header_link:hover {
  border-bottom: 3px solid #0065FC;

}

.menu-header_link[data-active="true"] {
    border-bottom: 3px solid #0065FC;
    color: #0065FC !important;
}

.menu-header__sinscrire {
  order: 1;
}



.bloc-recherche {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

}
.header__h1 {
  font-family: 'ralewaymedium';
  font-size: 26px;

}

.header__p {
  font-size: 18px;

}
.bouton_rechercher {
  display: none;
}

.bloc-recherche-logo_map {
  background-color: #F2F2F2;
  padding: 18.5px;
  border-radius: 15px 0 0 15px;
  width: 30px;

}

.bloc-recherche-petit_logo {
  width: 18px;
  align-content: center;
  display: flex;
  height: 18px;

}

.bloc-recherche-champ_recherche {
  text-align: justify;
}

.search_txt {

  height: 50px;
  border: 0.5px solid #F2F2F2;
  padding-left: 10px;
  font-weight: bold;
}


.header__bloc_search {
  display: flex;
  width: 33px;
  height: 32.5px;
  background-color: #0065FC;
  padding: 10px;
  border: none;
  margin-left: -15px;
  border-radius: 15px;
}

.header__bloc_search:hover {
  background-color: #DEEBFF;
  color: #0065FC;
  transition: 0.25s;
}

.header__logo_search {
  margin: auto;
  width: 18px;
  align-items: center;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(48deg) brightness(101%) contrast(106%);
}

.header-filtres li  {
   list-style-type: none;
   border: 2.5px solid #F2F2F2;
   padding: 0 20px 0 0 ;
   margin-left: 15px;
   border-radius: 20px;
   height: 33px;
   display: flex;
   align-items: center;

}

.header-filtres li:hover {
  background-color: #DEEBFF;
  transform:scale(1.050);
  transition: 0.25s;
}

.header-filtres_logo {
  padding: 8px;
  background-color: #DEEBFF;
  border-radius: 50px;
  margin-right: 10px;
}

.header-filtres {
  display: flex;
  flex-direction: column;



}

.header-filtres_logo {
  display: flex;
  flex-wrap: wrap;

}

.header-text_filtre {

  width: 100%;


}

.partie_milieu {
  display: flex;
  flex-direction: column;
}

.populaires {
  width: auto;
  margin: 10px auto;
  margin-bottom: 15px;
  order: 1;
  background-color: #F2F2F2;
  padding: 25px;
}
.populaires__vignette_prix {
  margin: auto;
}

.hebergements {
  display: block;
  width: 88%;
  order: 2;
  padding: 25px;


}

.hebergements__bloc_vignette {
  flex-direction: column;
}

.liens_vignette {
  width: auto;
}

.hebergements__vignette {


  width: auto;
  height: 225px;
  background-color: white;
  padding: 5px;
  margin-top: 15px;
  border-radius: 18px;

  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.3);

}

.hebergements__vignette_img {
  width: 100%;
  height: 100px;
  border-radius:18px 18px 0 0;
}
.hebergement__bloc_txt {
  margin-top: -10px;
  padding: 6px;
}

.hebergements__vignette_h3 {

  font-size: 19px;
  margin: 10px auto;

}

.hebergements__btn {
  display: none;
}

.populaires .etoile_bleu, .etoile_grise {
  align-items: baseline;
}

.etoile_bleu {
  width: 13px;
}

.etoile_grise {
  width: 13px;
}

.activites {
  display: flex;
  flex-wrap: wrap;


}

.activites__h2 {
  margin: 50px;

}

.activites__h3 {
  margin: 10px;
}
.activites__bloc_img {

}

.activites__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.activites__bloc_vignette {
  box-shadow: 0 0 20px #0000002e;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 25px 0 0 10px;
  max-height: 200px;
  width: 90%;
  margin: 10px auto;
}

.activites__bloc_vignette:hover {
  box-shadow:0 0 15px #0065FC;
  transform: scale(1.03);
}

.activites__bloc_img {
  max-height: 80%;
}

footer {
  display: flex;
  flex-direction: column;

}
}


/* fin du media téléphone */

@font-face
{
    font-family: 'ralewaymedium';
    src: url('raleway/Raleway-SemiBold.ttf') format("truetype");
}

@font-face
{
    font-family: 'ralewaybold';
    src: url('raleway/Raleway-Bold.ttf') format("truetype");
}
@font-face { 	font-family: 'raleway';
 	  src: url('raleway/Raleway-Regular.ttf'); }

body {
  font-family: "Raleway", "Sans serif";
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

h3 {
  font-family: 'ralewaymedium';
}

h3{
  color: black;

}

.menu-header a{
  font-family: 'ralewaymedium';
}


.bloc-page {
  align-items: center;
  max-width: 1440px;
  margin: auto;

}




.bloc-logo-nav {
  display: grid;
  align-items: center;
  max-width: 1440px;
  margin: auto;

}


.header__img {
  grid-area: logo;
  padding: 0 2rem;
  height: 2.813rem;

}

.menu-header  {
  display: flex;
  align-items: center;
  grid-area: navbar;

}

.menu-header_link {
  color: black !important;
  padding: 50px;
  font-weight: 500;
  text-align: center;
  transition-duration: 0.1s;
}


.menu-header_link[data-active="true"] {
    border-top: 3px solid #0065FC;
    color: #0065FC !important;
}

.menu-header_link[data-active="false"]:hover {
    border-top: 3px solid #0065FC;
}


.menu-header__sinscrire {
  display: flex;
  align-items: center;
  grid-area: button;
  padding: 30px;
  color: #0065FC !important;
  font-weight: 600;
}

.menu-header__sinscrire:hover {
  color: #DEEBFF !important;
}

.header__bloc {
  padding: 20px;
}

.txt-title h1 {
  font-size: 18px;
  font-family: 'ralewaybold'
}

.txt-title p {
  font-size: 14px;
}

.recherche {
  display: flex;
  flex-direction: row;

}

.bloc-recherche {
  display: flex;
  margin-bottom: 15px;
}

.bouton_rechercher {
  background-color: #0065FC;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 0 11px 11px 0;
}

.bouton_rechercher:hover {
  background-color: #DEEBFF;
  color: #0065FC;
  transition: 0.25s;
}

/* filtres  */

.header-filtres {
  display: flex;
  flex-wrap: wrap;
}

.header__filtres_list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}


.logo_filtre {
  width: 20px;
  height: 15px;
  filter: invert(30%) sepia(80%) saturate(5456%) hue-rotate(208deg) brightness(96%) contrast(109%);
}

.txt-categorie_filtre {
  font-family: 'ralewaybold';
}

.header-bloc_info {
  display: flex;
  align-items:  center;
}

.header-logo_info {
  width: 10px;
  height: 10px;
  filter: invert(30%) sepia(80%) saturate(5456%) hue-rotate(208deg) brightness(96%) contrast(109%);
}

.header-span_logo_info {
  display: flex;
  width: 10px;
  height: 10px;
  border: 2px solid #F2F2F2;
  padding: 5px;
  border-radius: 25px;
}

.header-info_txt {
  display: flex;
  margin-left: 10px;
  font-size: 13px;
}

/* début des bocs hébegerments et populaires  */








.hebergements__bloc_vignette {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.hebergements__vignette:hover {
  transform:scale(1.02);
  transition: 0.3s;
  box-shadow: 0 0 20px #0000002e;
}

.populaires__bloc_img {
  width: 60%;

}

.hebergements__bloc_img {
  height: 68%
}

.hebergements__vignette_img {
  width: 100%;
  height: 100%;
  border-radius:18px 18px 0 0;
  object-fit: cover;

}

.hebergement__bloc_txt {
  margin-left: 10px;
}

.hebergements__vignette_prix {
  margin-top: 5px;
  color: black !important;
  font-size: 11px;
}

.hebergements__bloc_etoile {
  display: flex;
}

.etoile_bleu {
  margin-right: 1px;
  width: 13px;
  filter: invert(30%) sepia(80%) saturate(5456%) hue-rotate(208deg) brightness(96%) contrast(109%);
}

.etoile_grise {
  margin-right: 1px;
  width: 13px;
  filter: opacity(20%);

}

.hebergements__btn {
  color: black !important;
  width: 100px;
  margin-top: 50px;
  font-family: 'ralewaymedium';


}

.hebergements__btn:hover{
    transform: scale(1.15);
    transition: 0.2s;
    padding-bottom:  10px;
    border-bottom: 2px solid #0065FC;
}

.populaires_title_icon {
  display: flex;
}
.populaires__h2 {
  width: 80%;
}
.populaires__icon_chart {

  align-items: center;
  padding:10px;
  max-height: 50px;
  width: 25px;

}

.populaires___vignette {

  margin-top: 10px;
  border-radius: 25px;
}



.populaires__vignette_bloc_txt_img:hover {
  transform:scale(1.05);
  transition: 0.3s;
}

.populaires__vignette_bloc {
  display: flex;


  width: 200px;
  height: 100px;
  background-color: white;
  padding: 5px;
  border-radius: 25px;
}

.populaire_vignette {
display: flex;
flex-direction: column;
width: 100%;

}

.populaires__vignette_bloc_txt_img {
   background-color: white;
   border-radius: 25px;
   display: flex;
   height: 150px;
   width: auto;
   padding: 5px;
   margin: 15px;

   box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.3);
}

.populaires__vignette_img {
  width: 100%;
  height: 100%;
  border-radius: 18px 0 0 18px;
  object-fit: cover;
}

.populaires__txt_note {
  margin-left: 10px;
  width: 100%;

}

.populaires__vignette_prix {
    font-size: 11px;
    color: black;
    height: 40%;
}



.activites__h3 {

  margin-left: 10px;
  font-size: 18px;
}


footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  background-color: #F2F2F2;
  padding: 50px;

}

.bloc_footer {
  display: flex;
  flex-direction: column;
  margin: 0;

}

.footer__link {
  color: black;
}

.footer__link-p {
  margin: 10px auto;
}

.footer__link-p:hover {
  transform: scale(1.10);



}
